<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Souqalmal</span>
    <span class="spacer"></span>
    <button mat-button (click)="navigate('nearby-shops')">NearBy Shops</button>
    <button mat-button (click)="navigate('my-preferred-shops')">My Preferred Shops</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container"><router-outlet></router-outlet></div>
