<mat-card class="box signup-wrapper">
  <div class="left">
    <mat-card-header>
      <mat-card-title>Signup</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="signupForm" (ngSubmit)="signup()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Full Name" formControlName="name" />
          <mat-error *ngIf="f.name.invalid">{{
            getErrorMessage('name')
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="f.email.invalid">{{
            getErrorMessage('email')
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <mat-error *ngIf="f.password.invalid">{{
            getErrorMessage('password')
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            type="password"
            placeholder="Retype Password"
            formControlName="retype_password"
          />
          <mat-error *ngIf="f.retype_password.invalid">{{
            getErrorMessage('retype_password')
          }}</mat-error>
          <mat-error
            *ngIf="
              f.retype_password.hasError('mustMatch') &&
              f.retype_password.errors.mustMatch
            "
            >Passwords must match</mat-error
          >
        </mat-form-field>
      </mat-card-content>

      <div class="d-flex justify-content-between">
        <button mat-raised-button color="warn" type="button" (click)="toLogin()">Login</button>
        <button mat-raised-button color="primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</mat-card>
