.signup-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% auto;
  width: 600px;
  height: 400px;

  .mat-form-field {
    width: 100%;
  }

  .left {
    flex: 1;
    padding-right: 15px;
  }

  h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
  }

  .or {
    padding: 10px;
    background: #ddd;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .right {
    flex: 1;
    padding-left: 15px;

    button {
      color: #fff;
      width: 100%;
      margin: 10px auto;
    }

    .facebook_button {
      background-color: #32508e;
    }
    .twitter_button {
      background-color: #55acee;
    }
    .google_button {
      background-color: #dd4b39;
    }
  }
}
