<mat-card class="box signup-wrapper">
  <div class="left">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="f.email.invalid">{{
            getErrorMessage('email')
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <mat-error *ngIf="f.password.invalid">{{
            getErrorMessage('password')
          }}</mat-error>
        </mat-form-field>
      </mat-card-content>

      <div class="d-flex justify-content-between">
        <button mat-raised-button color="warn" type="button" (click)="toSignUp()">Signup</button>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </div>
    </form>
    <p></p>
  </div>
</mat-card>
