<div class="container-fluid mt-3">
    <h4 class="mb-3">My Preferred Shops</h4>
    <div class="row" *ngIf="shops.length > 0">
      <div class="col-4 mb-3" *ngFor="let shop of shops">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ shop.name }}</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            [src]="
              shop.picture ||
              'http://www.iaaglobal.org/storage/bulk_images/no-image.png'
            "
            alt="Photo of a Shiba Inu"
          />
          <mat-card-actions class="d-flex justify-content-between">
            <button mat-raised-button color="warn" (click)="remove(shop.id)">
              REMOVE
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <h6 *ngIf="shops.length <= 0">No Shop added.</h6>
  </div>
  